*.xcodeproj

!*.xcodeproj/
*.xcodeproj/*
!*.xcodeproj/project.xcworkspace/
*.xcodeproj/project.xcworkspace/*
!*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcodeproj/project.xcworkspace/xcshareddata/*
!*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/*
!*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

.DS_Store
Info.plist
/Packages/*/Sources/Configs/ConfigsLive.swift
Packages/.cache
.swiftpm

vendor/bundle

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

*.app.dSYM.zip
*.ipa

.secret/*
!.secret/app_store_connect_api_key.example.json
